Source: ros-iron-rmf-ingestor-msgs
Section: misc
Priority: optional
Maintainer: Rushyendra Maganty <rushy_maganty@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-iron-ament-cmake, ros-iron-ament-lint-common <!nocheck>, ros-iron-builtin-interfaces, ros-iron-geometry-msgs, ros-iron-rmf-dispenser-msgs, ros-iron-rosidl-default-generators, ros-iron-ros-workspace, ros-iron-rosidl-typesupport-fastrtps-c, ros-iron-rosidl-typesupport-fastrtps-cpp
Homepage: 
Standards-Version: 3.9.2

Package: ros-iron-rmf-ingestor-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-iron-builtin-interfaces, ros-iron-geometry-msgs, ros-iron-rmf-dispenser-msgs, ros-iron-rosidl-default-runtime, ros-iron-ros-workspace
Description: A package containing messages used to interface to ingestor workcells
